#contenedor{
    margin: 20px auto ;
    max-width: 70%;
    min-width: 20%;
    background-color: #FAD7A0;
}

header{
    width: 100%;
}

header li:nth-child(1){
    float: left;
}

main{
    width: 70%;
    float: left;
}

aside{
    width: 30%;
    float: right;
}

footer{
    clear: both;
    width: 100%;
}

.posts article h2{
    clear: both;
}

.posts article div{
    float: left;
    width: 50%;
}

.posts #Productos h3{
    clear: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }